    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                   <img src="{% static 'images/cnrst_logo.png' %}" alt="CNRST Logo" style="margin-left: 30px;">
                </span>

                <div class="text logo-text">
                    <span class="name">CNRST</span>
                    <span class="profession">Volet Equipements</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <form method="get" action="{% url 'search_equipments' %}">
                        <input type="text" name="Marque" placeholder="Rechercher...">

                    </form>
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'accueil' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Tableau de bord </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'showEquipement' %}">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Les équipements</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{%url 'liste_messages_reservation' %}">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                   



                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'quitter' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

   <!-- ======== JavaScript ======== -->

   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

